.card-display {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.card {
  width: 120px;
  height: 180px;
  margin: 10px;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.card-text {
  margin-top: 10px;
  font-size: 1em;
  text-align: center;
}

.carousel-button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.carousel-button:hover {
  background-color: #52c3d8;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

p {
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 20px;
}