.card-display {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.regras_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  & ul{
    display: flex;
    flex-direction: column;
  }
}
.card-wrapper {
  margin: 20px 0;
}

.card-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.single-card {
  margin: 0 10px;
}

.button-container {
  margin-top: 20px;
}

.carousel-button {
  padding: 10px 20px;
  margin: 0 5px;
}
@media (max-width: 768px) {
  .card-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Mantém as cartas em linha */
    gap: 10px; /* Espaço entre as cartas */
  }

  .single-card img {
    width: 80px; /* Reduz o tamanho da imagem para telas menores */
  }

  .card-text {
    font-size: 14px; /* Reduz o tamanho do texto */
  }
}

@media (max-width: 480px) {
  .card-wrapper {
    justify-content: center;
    flex-wrap: nowrap; /* As cartas quebram para novas linhas */
  }

  .single-card {
    margin: 5px;
    flex-direction: row; /* O título ficará abaixo da imagem */
    align-items: center;
    text-align: center;
  }

  .single-card img {
    width: 60px; /* Reduz ainda mais o tamanho da imagem */
  }

  .card-text {
    font-size: 12px; /* Reduz o tamanho do texto em telas menores */
  }

  .button-container {
    flex-direction: row; /* Botões empilhados */
    align-items: center;
    margin-top: -10px;
  }
  .nome_carta,.valor_carta{
    font-size: 10px;
  }
.conjunto_regras {
font-size: 12px;
}

  .carousel-button {
    width: 100%;
    padding: 8px 12px; /* Botões menores em dispositivos pequenos */
  }
}


